<form action="GuardarCandidato" method="post" class="formulario">
    <h2>Agregar Candidato</h2>
    <div class="form-box select-box">
        <select class="form-control" id="exampleFormControlSelect1" name="idPartido">
            @foreach(Partido partido in ViewBag.ListaPartidos){
                <option value="@partido.idPartido">@partido.Nombre</option>
            }
        </select>
    </div>
    <input type="text" class="form-control" name="Apellido" placeholder="Apellido" required>
    <input type="text" class="form-control" name="Nombre" placeholder="Nombre" required>
    <input type="date" class="form-control" name="FechaNacimiento" placeholder="Fecha de nacimiento" required>  
    <input type="text" class="form-control" name="Foto" placeholder="Foto (Link)" required>
    <input type="text" class="form-control" name="Postulacion" placeholder="Postulacion" required>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>