<div class="formulario">
  <h2>Agregar Candidato</h2>
  <form action="GuardarCandidato" method="post">
    <div class="form-box select-box">
        <select class="form-control" id="exampleFormControlSelect1" name="idPartido">
            @for (int i = 0; i<ViewBag.cant; i++){
                <option value="@ViewBag.Partidos[i].idPartido">@ViewBag.Partidos[i].Nombre</option>
            }
        </select>
    </div>
    <div class="form-box">
        <input type="text" name="Apellido" required>
        <label >Apellido</label>
    </div>
    <div class="form-box">
        <input type="text" name="Nombre" required>
        <label >Nombre</label>
    </div>
    <div class="form-box">
        <input type="date" name="FechaNacimiento" required>
        <label class="active">FechaNacimiento</label>
    </div>
    <div class="form-box">
        <input type="text" name="Foto" required>
        <label>Foto (Link)</label>
    </div>
    <div class="form-box">
        <input type="text" name="Postulacion" required>
        <label>Postulacion</label>
    </div>
    <button type="submit">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Submit
    </button>
  </form>
</div>
