<style>
    .formulario input{
        margin-top: 10px;
    }
</style>

<form action="GuardarPartido" method="post" class="formulario">
        <input type="text" class="form-control" name="Nombre" placeholder="Nombre" id="Nombre">
        <input type="text" class="form-control" name="Logo" placeholder="Logo (Link)" id="Logo">
        <input type="text" class="form-control" name="SitioWeb" placeholder="Sitio Web (Link)" id="SitioWeb">
        <input type="date" class="form-control" name="FechaFundacion" id="FechaFundacion">
        <input type="number" class="form-control" name="CantidadDiputados" placeholder="Cantidad de Diputados" id="CantidadDiputados">
        <input type="number" class="form-control" name="CantidadSenadores" placeholder="Cantidad de Senadores" id="CantidadSenadores">
        <input type="color" class="form-control" name="ColorPrimario" placeholder="Color Primario" id="ColorPrimario">
        <input type="color" class="form-control" name="ColorSecundario" placeholder="Color Secundario" id="ColorSecundario">
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>