<div class="text-center">
    <div class="text-center">
        <h1 class="display-4" id="autores">Autores</h1>
    </div>
</div>
<div class="creditos">
    <div class="container">
    <div class="card">
        <div class="imgBx">
        <img src="/assets/images/creditos/chuke.png">
        </div>
        <div class="contentBx">
        <h2>Lautaro Yukelson</h2>
        <div class="edad">
            <h3>16 Años</h3>
        </div>
        <div class="rol">
            <h3>BackEnd Developer</h3>
        </div>
        </div>
    </div>
    </div>
    <div class="container">
    <div class="card">
        <div class="imgBx">
        <img src="/assets/images/creditos/iao.png">
        </div>
        <div class="contentBx">
        <h2>Iair Steimberg</h2>
        <div class="edad">
            <h3>16 Años</h3>
        </div>
        <div class="rol">
            <h3>FrontEnd Developer</h3>
        </div>
        </div>
    </div>
    </div>
</div>