<div class="text-center">
    <div class="text-center texto-elecciones">
    <h1 class="display-4">¿Que son las elecciones?</h1>
        <p>Las elecciones de gobierno son procesos en los que los ciudadanos eligen a sus representantes políticos. Son importantes porque permiten la participación ciudadana, aseguran la representatividad, fomentan la rendición de cuentas y contribuyen a la estabilidad política y la protección de derechos.</p>
    </div>
</div>