@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido! Estos son los partidos actuales!</h1>
    <br>
</div>

<div class="cards-partidos__container">
    @{
        for(int i = 0; i<ViewBag.cantidad; i++){
            <form action="~/Home/VerDetallePartido" method="post">
                <button type="submit">
                    <div class="card-partido">
                            <div>
                                <input type="number" name="idPartido" value="@ViewBag.ListaPartidos[i].idPartido" hidden>
                                <img class="hero-image" src="@ViewBag.ListaPartidos[i].Logo" alt="Logo Partido" width="400"/>
                                <div class="card-partido__linea"></div>
                            </div>
                            <h2 class="card-partido__title">@ViewBag.ListaPartidos[i].Nombre</h2>
                    </div>
                </button>
            </form>
        }
    }
</div>  
