@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>



<div class="cards-partidos__container">
    <div class="card-partido">
        <div>
            <img class="hero-image" src="/assets/images/partidos/la-libertad-avanza.webp" alt="img banda"/>
            <div class="card-partido__linea"></div>
        </div>
        <h2 class="card-partido__title">La Libertad Avanza</h2>
    </div>
</div>  
