@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido! Estos son los partidos actuales!</h1>
    <br>
</div>

<div class="cards-partidos__container">
    @{
        for(int i = 0; i<ViewBag.cantidad; i++){
            <a href='@Url.Action("VerDetallePartido", "Home", new { idPartido = @ViewBag.ListaPartidos[i].idPartido })' class="cardP">
                <img src="@ViewBag.ListaPartidos[i].Logo" alt="balloon with an emoji face" class="cardP__img">
                <span class="cardP__footer">
                    <span>@ViewBag.ListaPartidos[i].Nombre</span>
                    <span>2023</span>
                </span>
                
            </a>  
        }
    }
</div>  
