*{
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100vh;
}

body {
  margin-bottom: 60px;
}

button{
  background: transparent;
  border: none;
}

a, a:hover{
  color: #000;
  text-decoration: none;
}

.no-margin {
  padding: 0 !important;
  margin: 0 !important;
}

/*********************************************************************Tarjetas*********************************************************************/


.cards-partidos__container {
  display: flex;
  justify-content: space-around;
}

.cardP-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}


.cardP {
  --blur: 16px;
  --size: clamp(300px, 50vmin, 600px);
  width: var(--size);
  aspect-ratio: 5 / 3;
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
  color: #000;
  transform: translateZ(0);

  background-color: #dfffff;
}

.cardP:nth-child(2) .cardP__img{
  margin-top: 50px;
}

.cardP__img {
  width: 95%;
  object-fit: cover;
  transform: scale(calc(1 + (var(--hover, 0) * 0.25))) rotate(calc(var(--hover, 0) * -5deg));
  transition: transform 0.2s;
}

.cardP__footer {
  padding: 0 1.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: red;
  display: grid;
  grid-template-row: auto auto;
  gap: 0.5ch;
  background: hsl(0 0% 100% / 0.5);
  backdrop-filter: blur(var(--blur));
  height: 30%;
  align-content: center;
}

.cardP__action {
  position: absolute;
  aspect-ratio: 1;
  width: calc(var(--size) * 0.15);
  bottom: 30%;
  right: 1.5rem;
  transform: translateY(50%)
    translateY(
      calc(
        (var(--size) * 0.4)
      )
    )
    translateY(calc(var(--hover, 0) * (var(--size) * -0.4)));
  background: purple;
  display: grid;
  place-items: center;
  border-radius: 0.5rem;
  background: hsl(0 0% 100% / 0.5);
/*   backdrop-filter: blur(calc(var(--blur) * 0.5)); */
  transition: transform 0.2s;
}

.cardP__action svg {
  aspect-ratio: 1;
  width: 50%;
}

.cardP__footer span:nth-of-type(1) {
  font-size: calc(var(--size) * 0.065);
}

.cardP__footer span:nth-of-type(2) {
  font-size: calc(var(--size) * 0.035);
}

.cardP:is(:hover, :focus-visible) {
  --hover: 1;
}



/****************************************Tarjeta Candidato****************************************/

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}

.img-perfil{
  border-radius: 100%;
}

.cardC {
  width: 450px;
  height: 250px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}

.cardC h1 {
  text-align: center;
}

.cardC .additional {
  position: absolute;
  width: 150px;
  height: 100%;
  background: linear-gradient(#dE685E, #EE786E);
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.cardC.color .additional {
  background: linear-gradient(#77ACDC, #87B3DC);
}


.cardC:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.cardC .additional .user-cardC {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
}

.cardC .additional .user-cardC::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);
}

.cardC .additional .user-cardC .level,
.cardC .additional .user-cardC .points {
  top: 15%;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  background: rgba(0,0,0,0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}

.cardC .additional .user-cardC .points {
  top: 85%;
}

.cardC .additional .user-cardC svg {
  top: 50%;
}

.cardC .additional .more-info {
  width: 300px;
  float: left;
  position: absolute;
  left: 150px;
  height: 100%;
}

.cardC .additional .more-info h1 {
  color: #fff;
  margin-bottom: 0;
}

.cardC.color .additional .more-info h1 {
  color: #1C609E;
}

.cardC .additional .coords {
  margin: 0 1rem;
  color: #fff;
  font-size: 1rem;
}

.cardC.color .additional .coords {
  color: #1C609E;
  font-weight: 400;
}

.cardC .additional .coords span + span {
  float: right;
}

.cardC .additional .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #fff;
}

.cardC.color .additional .stats {
  color: #1C609E;
}

.cardC .additional .stats > div {
  flex: 1;
  text-align: center;
}

.cardC .additional .stats i {
  display: block;
}

.cardC .additional .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.cardC .additional .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.cardC .additional .stats div.value.infinity {
  font-size: 2.5rem;
}

.cardC .general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
